In [1]:
import pandas as pd
chart_events = pd.read_csv('/Volumes/Oussama/project/Data_comp/CHARTEVENTS.csv')
reduced_chart_items = pd.read_csv('/Volumes/Oussama/project/Data_comp/D_CHARTITEMS.csv')
chart_events

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUENUM,FLAG
0,36,165660,241249.0,223835,2134-05-12 12:00:00,100.0,0
1,36,165660,241249.0,220045,2134-05-12 13:00:00,86.0,0
2,36,165660,241249.0,220210,2134-05-12 13:00:00,21.0,0
3,36,165660,241249.0,220045,2134-05-12 14:00:00,85.0,0
4,36,165660,241249.0,220210,2134-05-12 14:00:00,19.0,0
...,...,...,...,...,...,...,...
28385135,32216,158834,231184.0,8554,2198-07-23 21:00:00,100.0,0
28385136,32216,158834,231184.0,8554,2198-07-23 22:00:00,100.0,0
28385137,32216,158834,231184.0,8554,2198-07-27 05:00:00,100.0,0
28385138,32216,158834,231184.0,8554,2198-07-27 05:15:00,100.0,0
28385139,32216,158834,231184.0,8554,2198-07-27 06:00:00,100.0,0

In [2]:
relevant_items = reduced_chart_items
chart_events = chart_events.merge(reduced_chart_items, on='ITEMID', how='outer')
#chart_events=pd.merge(chart_events, reduced_chart_items, on='ITEMID', how='outer')

chart_events

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUENUM,FLAG,MEASUREMENT
0,36,165660,241249.0,223835,2134-05-12 12:00:00,100.0,0,FiO2 3
1,34,144319,290505.0,223835,2191-02-23 07:31:00,60.0,0,FiO2 3
2,36,165660,241249.0,223835,2134-05-12 07:09:00,100.0,0,FiO2 3
3,34,144319,290505.0,223835,2191-02-23 11:00:00,60.0,0,FiO2 3
4,36,165660,241249.0,223835,2134-05-13 16:00:00,50.0,0,FiO2 3
...,...,...,...,...,...,...,...,...
30296483,32216,158834,231184.0,8554,2198-07-23 21:00:00,100.0,0,SpO2
30296484,32216,158834,231184.0,8554,2198-07-23 22:00:00,100.0,0,SpO2
30296485,32216,158834,231184.0,8554,2198-07-27 05:00:00,100.0,0,SpO2
30296486,32216,158834,231184.0,8554,2198-07-27 05:15:00,100.0,0,SpO2
30296487,32216,158834,231184.0,8554,2198-07-27 06:00:00,100.0,0,SpO2

In [3]:
data = chart_events[['MEASUREMENT', 'VALUENUM']].groupby(['MEASUREMENT']).describe(include='all').sort_values(by=('VALUENUM', 'count'), ascending=False).reset_index()

In [4]:
neglected_items = data[data[('VALUENUM', 'count')] < 100]['MEASUREMENT']
relevant_items = relevant_items[~relevant_items['MEASUREMENT'].isin(neglected_items)]['MEASUREMENT']
chart_events = chart_events[chart_events['MEASUREMENT'].isin(relevant_items)]

In [6]:
#chart_events[(chart_events['SUBJECT_ID'] == 36.0) & (chart_events['MEASUREMENT'] == 'FiO2')].sort_values(by=['CHARTTIME'])
chart_events['MEASUREMENT'].unique()
#chart_events[chart_events['MEASUREMENT'] == 'PACU Urine']

array(['FiO2 3', 'Heart Rate 2', 'Respiratory Rate 4', 'Temperature F 2',
       'Respiratory Rate 8', 'Respiratory Rate 2', 'Respiratory Rate 3',
       'spontaneous respiratory rate', 'Admission Weight (Kg)',
       'Admission Weight (lbs.)', 'Heart rate Alarm - High',
       'Heart Rate Alarm - Low', 'Systolic ABP', 'Diastolic ABP',
       'ABP mean', 'Arterial Blood Pressure mean', 'wbc 2', 'crea 3',
       'Creatinine 2', 'serum glucose', 'Potassium serum', 'Height inch',
       'Height cm', 'Daily Weight', 'Ventilator 1', 'Ventilator 2',
       'Spont RR', 'Sodium 2', 'Systolic ABP 2', 'Diastolic ABP 2',
       'Temperature C 2', 'Hematocrit 2', 'Mean Arterial Pressure 1',
       'Heart Rate 1', 'FiO2 1', 'GCS', 'Respiratory Rate 0',
       'Temperature F', 'Temperature C', 'crea 1', 'Hematocrit', 'crea 2',
       'Creatinine 1', 'glucose', 'Potassium', 'Sodium', 'wbc 1',
       'Respiratory Rate 5', 'Respiratory Rate 6', 'Respiratory Rate 1',
       'Daily Weight 2', 'Ventilator 4', 'Weight Change',
       'FIO2 Alarm-High', 'FIO2 Alarm-Low', 'Mean Arterial Pressure 2',
       'Ventilator 3', 'FiO2 4', 'SpO2 low', 'SpO2'], dtype=object)

In [ ]:
chart_events.to_csv('/Volumes/Oussama/project/Data_comp/CHARTEVENTS.csv', sep=',', encoding='utf-8', index=False)

In [7]:
a = chart_events.groupby(['SUBJECT_ID','MEASUREMENT']).mean().reset_index()
h = list(a['MEASUREMENT'].unique())
k = list(chart_events['MEASUREMENT'].unique())
len(k)

60

In [8]:
#a.drop(columns=['HADM_ID', 'ICUSTAY_ID','FLAG'], inplace = True)
#a[a['SUBJECT_ID'] == 30.0]
b =a[['SUBJECT_ID','MEASUREMENT','VALUENUM']]
#b = b.set_index('MEASUREMENT')
last = b.pivot(index='SUBJECT_ID', columns='MEASUREMENT', values='VALUENUM')

In [9]:
last

MEASUREMENT,ABP mean,Admission Weight (Kg),Admission Weight (lbs.),Arterial Blood Pressure mean,Creatinine 1,Creatinine 2,Daily Weight,Daily Weight 2,Diastolic ABP,Diastolic ABP 2,...,Ventilator 4,Weight Change,crea 1,crea 2,crea 3,glucose,serum glucose,spontaneous respiratory rate,wbc 1,wbc 2
SUBJECT_ID,,,,,,,,,,,,,,,,,,,,,
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.600001,NaN,NaN,...,7.0,0.0,1.855556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,0.450000,NaN,NaN,53.599998,NaN,NaN,...,NaN,0.0,0.450000,0.450000,NaN,204.333333,NaN,NaN,8.500000,NaN
6,NaN,NaN,NaN,NaN,7.175000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.175000,7.175000,NaN,125.500000,NaN,NaN,7.420000,NaN
9,NaN,NaN,NaN,NaN,1.783333,NaN,NaN,102.200002,NaN,NaN,...,NaN,0.0,1.783333,1.783333,NaN,156.714286,NaN,NaN,14.357143,NaN
11,NaN,NaN,NaN,NaN,0.700000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.700000,0.700000,NaN,128.333333,NaN,NaN,11.050000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99985,78.122172,71.0,157.52,78.122172,NaN,0.866667,NaN,NaN,59.022523,NaN,...,NaN,NaN,NaN,NaN,0.866667,NaN,125.461538,10.655738,NaN,20.475000
99991,114.405405,100.5,221.10,114.405405,NaN,0.960000,NaN,NaN,82.675676,NaN,...,NaN,NaN,NaN,NaN,0.960000,NaN,139.400000,NaN,NaN,7.100000
99992,NaN,65.4,143.90,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.000000,NaN,116.500000,NaN,NaN,15.333333
99995,78.596154,68.0,149.60,78.596154,NaN,0.425000,70.5,NaN,50.307692,NaN,...,NaN,NaN,NaN,NaN,0.425000,NaN,123.750000,10.000000,NaN,7.300000
99999,NaN,96.5,212.30,NaN,NaN,0.900000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.900000,NaN,133.000000,NaN,NaN,9.300000

In [10]:
PATIENTS = pd.read_csv('/Volumes/Oussama/project/Data_comp/PATIENTS.csv')
PATIENTS = PATIENTS[['SUBJECT_ID','IS_MALE']]
admissions = pd.read_csv('/Volumes/Oussama/project/Data_comp/ADMISSIONS.csv')
admissions = admissions[['SUBJECT_ID','HOSPITAL_LOS']]
last = last.merge(admissions, on='SUBJECT_ID', how='outer')
last = last.merge(PATIENTS, on='SUBJECT_ID', how='outer')
last
#PATIENTS

,SUBJECT_ID,ABP mean,Admission Weight (Kg),Admission Weight (lbs.),Arterial Blood Pressure mean,Creatinine 1,Creatinine 2,Daily Weight,Daily Weight 2,Diastolic ABP,...,crea 1,crea 2,crea 3,glucose,serum glucose,spontaneous respiratory rate,wbc 1,wbc 2,HOSPITAL_LOS,IS_MALE
0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.600001,NaN,...,1.855556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.784722,1
1,4,NaN,NaN,NaN,NaN,0.450000,NaN,NaN,53.599998,NaN,...,0.450000,0.450000,NaN,204.333333,NaN,NaN,8.500000,NaN,7.759028,0
2,6,NaN,NaN,NaN,NaN,7.175000,NaN,NaN,NaN,NaN,...,7.175000,7.175000,NaN,125.500000,NaN,NaN,7.420000,NaN,16.364583,0
3,9,NaN,NaN,NaN,NaN,1.783333,NaN,NaN,102.200002,NaN,...,1.783333,1.783333,NaN,156.714286,NaN,NaN,14.357143,NaN,4.881250,1
4,11,NaN,NaN,NaN,NaN,0.700000,NaN,NaN,NaN,NaN,...,0.700000,0.700000,NaN,128.333333,NaN,NaN,11.050000,NaN,25.529167,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50795,97015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.723611,0
50796,84360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.111806,1
50797,99433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.381944,1
50798,99553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.354167,0
50799,26443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [11]:
admissions = pd.read_csv('/Volumes/Oussama/project/mimic-iii-clinical-database-1.4/ADMISSIONS.csv')
admissions = admissions[['SUBJECT_ID','DISCHARGE_LOCATION']]
#admissions[admissions.apply(lambda r: r.str.contains('DEAD', case=False).any(), axis=1)].sort_values(by=['SUBJECT_ID'])
admissions['Death'] = admissions['DISCHARGE_LOCATION'].apply(lambda x: 1 if x == 'DEAD/EXPIRED' else 0)
admissions.drop(['DISCHARGE_LOCATION'], axis=1, inplace=True)
admissions.drop_duplicates(inplace=True)
last = last.merge(admissions, on='SUBJECT_ID', how='inner')
last

,SUBJECT_ID,ABP mean,Admission Weight (Kg),Admission Weight (lbs.),Arterial Blood Pressure mean,Creatinine 1,Creatinine 2,Daily Weight,Daily Weight 2,Diastolic ABP,...,crea 2,crea 3,glucose,serum glucose,spontaneous respiratory rate,wbc 1,wbc 2,HOSPITAL_LOS,IS_MALE,Death
0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.600001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.784722,1,0
1,4,NaN,NaN,NaN,NaN,0.450000,NaN,NaN,53.599998,NaN,...,0.450000,NaN,204.333333,NaN,NaN,8.500000,NaN,7.759028,0,0
2,6,NaN,NaN,NaN,NaN,7.175000,NaN,NaN,NaN,NaN,...,7.175000,NaN,125.500000,NaN,NaN,7.420000,NaN,16.364583,0,0
3,9,NaN,NaN,NaN,NaN,1.783333,NaN,NaN,102.200002,NaN,...,1.783333,NaN,156.714286,NaN,NaN,14.357143,NaN,4.881250,1,1
4,11,NaN,NaN,NaN,NaN,0.700000,NaN,NaN,NaN,NaN,...,0.700000,NaN,128.333333,NaN,NaN,11.050000,NaN,25.529167,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54796,97015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.723611,0,0
54797,84360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.111806,1,1
54798,99433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.381944,1,0
54799,99553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.354167,0,1
54800,26443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0

In [ ]:
last.tail(60)

In [12]:
last.to_csv('/Volumes/Oussama/project/Data_comp/last.csv', sep=',', encoding='utf-8', index=False)

In [15]:
r = pd.read_csv('/Volumes/Oussama/project/Data_comp/last.csv')

In [16]:
r.tail(60)

,SUBJECT_ID,ABP mean,Admission Weight (Kg),Admission Weight (lbs.),Arterial Blood Pressure mean,Creatinine 1,Creatinine 2,Daily Weight,Daily Weight 2,Diastolic ABP,...,crea 2,crea 3,glucose,serum glucose,spontaneous respiratory rate,wbc 1,wbc 2,HOSPITAL_LOS,IS_MALE,Death
54636,99822,86.813953,74.366667,158.500000,86.813953,NaN,0.831579,NaN,NaN,76.558140,...,NaN,0.831579,NaN,133.176471,0.720000,NaN,13.520000,1.235417,1,0
54637,99822,86.813953,74.366667,158.500000,86.813953,NaN,0.831579,NaN,NaN,76.558140,...,NaN,0.831579,NaN,133.176471,0.720000,NaN,13.520000,1.235417,1,1
54638,99822,86.813953,74.366667,158.500000,86.813953,NaN,0.831579,NaN,NaN,76.558140,...,NaN,0.831579,NaN,133.176471,0.720000,NaN,13.520000,9.582639,1,0
54639,99822,86.813953,74.366667,158.500000,86.813953,NaN,0.831579,NaN,NaN,76.558140,...,NaN,0.831579,NaN,133.176471,0.720000,NaN,13.520000,9.582639,1,1
54640,99822,86.813953,74.366667,158.500000,86.813953,NaN,0.831579,NaN,NaN,76.558140,...,NaN,0.831579,NaN,133.176471,0.720000,NaN,13.520000,5.452083,1,0
54641,99822,86.813953,74.366667,158.500000,86.813953,NaN,0.831579,NaN,NaN,76.558140,...,NaN,0.831579,NaN,133.176471,0.720000,NaN,13.520000,5.452083,1,1
54642,99823,NaN,63.000000,138.600000,NaN,NaN,0.525000,NaN,NaN,NaN,...,NaN,0.525000,NaN,129.600000,NaN,NaN,21.350000,9.529861,0,0
54643,99830,72.521028,100.000000,201.666667,72.521028,NaN,1.525000,105.270000,NaN,57.616822,...,NaN,1.525000,NaN,111.115385,8.670455,NaN,15.070000,24.582639,1,0
54644,99832,NaN,104.000000,NaN,NaN,NaN,0.850000,104.000000,NaN,NaN,...,NaN,0.850000,NaN,163.500000,NaN,NaN,6.250000,9.159028,1,0
54645,99836,86.920699,76.750000,168.850000,86.920699,NaN,1.409333,82.155556,NaN,65.574697,...,NaN,1.409333,NaN,125.810811,14.970930,NaN,20.232143,56.879861,0,0
54646,99837,NaN,104.600000,230.100000,NaN,NaN,0.750000,NaN,NaN,NaN,...,NaN,0.750000,NaN,66.000000,7.600000,NaN,12.400000,4.488889,1,0
54647,99847,NaN,53.200000,117.000000,NaN,NaN,1.675000,52.733333,NaN,NaN,...,NaN,1.675000,NaN,144.125000,35.000000,NaN,1.116667,17.635417,0,0
54648,99849,NaN,75.300000,165.700000,NaN,NaN,0.500000,74.300000,NaN,NaN,...,NaN,0.500000,NaN,102.000000,NaN,NaN,6.700000,2.919444,1,0
54649,99862,NaN,88.400000,194.500000,NaN,NaN,0.700000,86.900000,NaN,NaN,...,NaN,0.700000,NaN,105.000000,NaN,NaN,23.700000,3.647222,0,0
54650,99863,97.003802,120.600000,265.300000,97.003802,NaN,1.090909,122.829167,NaN,74.600379,...,NaN,1.090909,NaN,172.117647,19.861446,NaN,8.400000,35.654861,1,0
54651,99864,NaN,68.000000,NaN,NaN,NaN,1.150000,NaN,NaN,NaN,...,NaN,1.150000,NaN,107.500000,NaN,NaN,5.950000,1.556250,1,0
54652,99865,74.900000,70.000000,132.000000,74.900000,NaN,1.387500,NaN,NaN,61.000000,...,NaN,1.387500,NaN,170.500000,0.000000,NaN,9.300000,19.563194,0,1
54653,99868,NaN,51.700000,113.700000,NaN,NaN,0.600000,51.700000,NaN,NaN,...,NaN,0.600000,NaN,114.750000,NaN,NaN,10.550000,3.457639,0,0
54654,99870,100.250000,84.900000,186.800000,100.250000,NaN,0.450000,87.200000,NaN,71.500000,...,NaN,0.450000,NaN,152.500000,NaN,NaN,11.750000,2.239583,0,0
54655,99872,NaN,48.900000,107.600000,NaN,NaN,0.900000,NaN,NaN,NaN,...,NaN,0.900000,NaN,90.000000,NaN,NaN,4.800000,3.897917,0,0
54656,99873,75.260870,103.400000,227.500000,75.260870,NaN,0.850000,110.333333,NaN,55.884058,...,NaN,0.850000,NaN,129.500000,6.250000,NaN,11.160000,5.032639,1,0
54657,99880,74.742424,73.000000,160.600000,74.742424,NaN,0.650000,81.600000,NaN,52.530303,...,NaN,0.650000,NaN,116.500000,7.000000,NaN,6.242857,10.983333,0,0
54658,99881,70.279070,104.800000,230.600000,70.279070,NaN,3.425000,109.500000,NaN,49.404762,...,NaN,3.425000,NaN,137.111111,0.500000,NaN,14.150000,2.143750,1,1
54659,99883,96.127273,59.800000,132.866667,96.127273,NaN,0.840000,62.950000,NaN,59.846154,...,NaN,0.840000,NaN,106.500000,9.285714,NaN,10.866667,3.002778,1,0
54660,99883,96.127273,59.800000,132.866667,96.127273,NaN,0.840000,62.950000,NaN,59.846154,...,NaN,0.840000,NaN,106.500000,9.285714,NaN,10.866667,6.600000,1,0
54661,99893,NaN,72.900000,160.400000,NaN,NaN,1.850000,63.700000,NaN,NaN,...,NaN,1.850000,NaN,134.500000,26.000000,NaN,7.650000,6.679861,1,0
54662,99894,85.744186,69.400000,NaN,85.744186,NaN,0.637500,69.933333,NaN,64.709302,...,NaN,0.637500,NaN,110.714286,NaN,NaN,8.611111,10.739583,0,0
54663,99897,NaN,70.900000,170.575000,NaN,NaN,5.137500,75.200000,NaN,NaN,...,NaN,5.137500,NaN,315.500000,NaN,NaN,12.900000,1.588889,1,0
54664,99897,NaN,70.900000,170.575000,NaN,NaN,5.137500,75.200000,NaN,NaN,...,NaN,5.137500,NaN,315.500000,NaN,NaN,12.900000,5.001389,1,0
54665,99899,NaN,61.000000,134.200000,NaN,NaN,1.784615,NaN,NaN,NaN,...,NaN,1.784615,NaN,214.411765,15.456522,NaN,11.014286,9.065278,1,1
54666,99901,62.130952,91.600000,201.500000,62.130952,NaN,1.940000,87.271429,NaN,48.988095,...,NaN,1.940000,NaN,154.454545,NaN,NaN,10.216667,13.070139,1,0
54667,99903,102.733333,88.600000,195.000000,102.733333,NaN,0.900000,NaN,NaN,80.933333,...,NaN,0.900000,NaN,122.000000,NaN,NaN,5.400000,4.009028,1,0
54668,99912,76.614634,84.000000,181.866667,76.614634,NaN,0.870588,83.166667,NaN,55.395122,...,NaN,0.870588,NaN,151.315789,27.111111,NaN,9.430769,13.899306,1,0
54669,99913,69.812500,78.800000,173.400000,69.812500,NaN,0.750000,85.450000,NaN,51.218750,...,NaN,0.750000,NaN,144.250000,5.333333,NaN,9.160000,7.884028,1,0
54670,99922,69.230769,77.100000,169.600000,69.230769,NaN,0.750000,88.000000,NaN,55.076923,...,NaN,0.750000,NaN,102.000000,0.000000,NaN,11.166667,4.417361,1,0
54671,99923,82.951613,100.800000,226.000000,82.951613,NaN,1.920000,91.033333,NaN,63.516129,...,NaN,1.920000,NaN,129.700000,6.500000,NaN,7.087500,7.804167,1,0
54672,99923,82.951613,100.800000,226.000000,82.951613,NaN,1.920000,91.033333,NaN,63.516129,...,NaN,1.920000,NaN,129.700000,6.500000,NaN,7.087500,10.068750,1,0
54673,99928,NaN,57.700000,126.900000,NaN,NaN,0.633333,NaN,NaN,NaN,...,NaN,0.633333,NaN,163.250000,NaN,NaN,5.800000,1.911806,0,0
54674,99934,NaN,93.800000,204.266667,NaN,NaN,0.840000,93.800000,NaN,NaN,...,NaN,0.840000,NaN,93.600000,NaN,NaN,11.750000,6.447222,1,0
54675,99935,68.166667,80.000000,176.000000,68.166667,NaN,NaN,NaN,NaN,48.944444,...,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.209028,1,1
54676,99936,NaN,65.900000,NaN,NaN,NaN,1.028571,NaN,NaN,NaN,...,NaN,1.028571,NaN,124.285714,NaN,NaN,7.880000,7.991667,0,0
54677,99937,NaN,75.900000,167.000000,NaN,NaN,0.600000,NaN,NaN,NaN,...,NaN,0.600000,NaN,136.000000,NaN,NaN,9.700000,8.929861,0,0
54678,99938,68.750000,80.700000,177.500000,68.750000,NaN,0.937500,91.200000,NaN,53.947917,...,NaN,0.937500,NaN,155.111111,20.500000,NaN,11.066667,17.750000,1,0
54679,99939,115.379310,62.600000,NaN,115.379310,NaN,17.700000,NaN,NaN,93.413793,...,NaN,17.700000,NaN,159.750000,1.333333,NaN,8.750000,11.457639,1,0
54680,99944,NaN,70.300000,154.700000,NaN,NaN,1.537500,70.000000,NaN,NaN,...,NaN,1.537500,NaN,150.125000,NaN,NaN,17.000000,4.854861,0,0
54681,99946,NaN,83.000000,180.400000,NaN,NaN,0.800000,NaN,NaN,NaN,...,NaN,0.800000,NaN,118.000000,NaN,NaN,15.400000,6.653472,1,0
54682,99955,NaN,84.000000,184.800000,NaN,NaN,1.477778,82.950000,NaN,NaN,...,NaN,1.477778,NaN,252.307692,6.000000,NaN,8.942857,5.117361,1,1
54683,99957,NaN,92.700000,NaN,NaN,NaN,0.900000,NaN,NaN,NaN,...,NaN,0.900000,NaN,125.333333,NaN,NaN,13.100000,11.659028,1,0
54684,99965,NaN,80.200000,176.400000,NaN,NaN,0.900000,76.200000,NaN,NaN,...,NaN,0.900000,NaN,128.000000,NaN,NaN,8.800000,2.686806,1,0
54685,99966,NaN,95.800000,210.800000,NaN,NaN,1.350000,NaN,NaN,NaN,...,NaN,1.350000,NaN,98.500000,NaN,NaN,9.900000,1.676389,1,0
54686,99973,NaN,105.000000,231.000000,NaN,NaN,1.175000,NaN,NaN,NaN,...,NaN,1.175000,NaN,89.500000,NaN,NaN,16.850000,4.466667,0,0
54687,99982,70.955823,69.366667,154.500000,70.955823,NaN,1.178378,71.100000,NaN,56.815261,...,NaN,1.178378,NaN,112.307692,6.000000,NaN,6.104167,10.075694,1,0
54688,99982,70.955823,69.366667,154.500000,70.955823,NaN,1.178378,71.100000,NaN,56.815261,...,NaN,1.178378,NaN,112.307692,6.000000,NaN,6.104167,6.814583,1,0
54689,99982,70.955823,69.366667,154.500000,70.955823,NaN,1.178378,71.100000,NaN,56.815261,...,NaN,1.178378,NaN,112.307692,6.000000,NaN,6.104167,6.128472,1,0
54690,99983,NaN,77.000000,169.400000,NaN,NaN,1.166667,78.900000,NaN,NaN,...,NaN,1.166667,NaN,120.666667,NaN,NaN,6.400000,3.079861,1,0
54691,99985,78.122172,71.000000,157.520000,78.122172,NaN,0.866667,NaN,NaN,59.022523,...,NaN,0.866667,NaN,125.461539,10.655738,NaN,20.475000,16.595833,1,0
54692,99991,114.405405,100.500000,221.100000,114.405405,NaN,0.960000,NaN,NaN,82.675676,...,NaN,0.960000,NaN,139.400000,NaN,NaN,7.100000,12.156250,1,0
54693,99992,NaN,65.400000,143.900000,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,1.000000,NaN,116.500000,NaN,NaN,15.333333,2.995139,0,0
54694,99995,78.596154,68.000000,149.600000,78.596154,NaN,0.425000,70.500000,NaN,50.307692,...,NaN,0.425000,NaN,123.750000,10.000000,NaN,7.300000,3.218750,0,0
54695,99999,NaN,96.500000,212.300000,NaN,NaN,0.900000,NaN,NaN,NaN,...,NaN,0.900000,NaN,133.000000,NaN,NaN,9.300000,5.385417,0,0

In [ ]:
data.tail(60)